changeto system
!
interface {{ Port_Channel1 }}
 description {{ PC1_Description }}
 vlan {{ PC1_VLAN }}
!
interface {{ Port_Channel2 }}
 description {{ PC2_Description }}
 vlan {{ PC2_VLAN }}
!
context {{ Context_Name }}
  allocate-interface Ethernet1/8 MGMT
  allocate-interface {{ Port_Channel1 }} INSIDE
  allocate-interface {{ Port_Channel2 }} OUTSIDE
  config-url disk0:/ {{ Config_URL }}
!
changeto context {{ Context_Name }}
!
interface MGMT
 no nameif
 no security-level
 {{ MGMT_IP_Address }}
!
interface INSIDE
 nameif INSIDE
 security-level 95
 ip address {{ Inside_IP }} standby {{ Inside_Standby_IP }}
!
interface OUTSIDE
 nameif OUTSIDE
 security-level 0
 ip address {{ Outside_IP }} standby {{ Outside_Standby_IP }}
!
banner exec Authorised Use Only
banner login Legal Notice: You may commit a criminal offence if you act outside your authority in relation to this computer. The penalty is a FINE, IMPRISONMENT or BOTH. If you are acting outside your authority, DO NOT PROCEED any further. If you are acting within your authority, please note that your use of this system may be monitored by Barclays Group for operational or business reasons.
{{ Object_Group1 }}
 {{ Object_Group1_Network_Object1 }}
 {{ Object_Group1_Network_Object2 }}
{{ Object_Group2 }}
 {{ Object_Group2_Network_Object1 }}
{{ Object_Group3 }}
 {{ Object_Group3_Network_Object1 }}
{{ Object_Group4 }}
 {{ Object_Group4_Service_Object1 }}
access-list BGP-TRAFFIC extended permit object-group BGP_ROUTING object-group BD_CSRSOUTH_IFW_02 object-group IN_LOOPBACKS
access-list BGP-TRAFFIC extended permit object-group BGP_ROUTING object-group IN_LOOPBACKS object-group BD_CSRSOUTH_IFW_02
access-list INSIDE extended permit icmp any any
access-list INSIDE extended permit object-group BGP_ROUTING object-group IN_LOOPBACKS object-group BD_CSRSOUTH_IFW_02
access-list OUTSIDE extended permit icmp any any
access-list OUTSIDE extended permit object-group BGP_ROUTING object-group BD_CSRSOUTH_IFW_02 object-group IN_LOOPBACKS
!
tcp-map BGP-MD5-OPTION-ALLOW
tcp-options md5 allow
!
access-group INSIDE in interface INSIDE
access-group OUTSIDE in interface OUTSIDE
route {{ Default_Route }}
{{ Static_Route1 }}
{{ Static_Route2 }}
!
ssh stricthostkeycheck
ssh timeout 5
ssh cipher encryption custom "aes128-ctr:aes192-ctr:aes256-ctr"
ssh cipher integrity high
ssh key-exchange group dh-group14-sha1
management-access MGMT
no threat-detection statistics tcp-intercept
ssl server-version tlsv1.2
ssl client-version tlsv1.2
!
class-map BGP-TRAFFIC-CLASSMAP
 match access-list BGP-TRAFFIC
class-map inspection_default
 match default-inspection-traffic
!
policy-map global_policy
 class inspection_default
  inspect dns preset_dns_map
  inspect ftp
  inspect h323 h225
  inspect h323 ras
  inspect ip-options
  inspect netbios
  inspect rsh
  inspect rtsp
  inspect skinny
  inspect esmtp
  inspect sqlnet
  inspect sunrpc
  inspect tftp
  inspect sip
  inspect xdmcp
  inspect icmp
 class BGP-TRAFFIC-CLASSMAP
  set connection random-sequence-number disable
  set connection advanced-options BGP-MD5-OPTION-ALLOW
!
